body {
  background-color: var(--main-bg-color);
  color: var(--primery-text-color);
  font-family: 'Montserrat';
  font-style: normal;
}

a,
button {
  cursor: url('../images/cursor.png'), default;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  @include section;
}
