body {
  background-color: #84a178;
  font-family: 'Montserrat';
  font-style: normal;
  color: #fcfcfc;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  @include section;
}
