.gallery__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.gallery .image {
  margin: 0 auto;
}

.reviews {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fcfcfc;
  background-position: center;
  background-image: url(../images/bg/bg-ice-cream.sec4.mobile_@1x.png);
  background-size: cover;
}

.reviews__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.reviews__item .image {
  margin: 0 auto;
}

.reviews__description {
  background-color: #84a178;
  margin-bottom: 30px;
  padding: 34px;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(31 / 12);
  text-align: center;
  color: #fcfcfc;
}

.reviews__heading {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(37 / 20);
  text-align: center;

  color: #131313;
}

.slick-dots li button {
  height: 12px;
  width: 12px;
}

.slick-dots li button:before {
  color: #d9d9d9;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: #84a178;
  opacity: 1;
}
