// utils styles
@import './utils/common';
@import './utils/variables';
@import './utils/fonts';

// @import './utils/normalize';
@import './utils/visually-hidden';
@import './utils/placeholders';
@import './utils/mixins';

// base styles
@import './base/reset';
@import './base/base';
@import './base/container';

// components styles
@import './components/btn';

// layout styles
@import './layouts/header';
@import './layouts/hero';
@import './layouts/products';
@import './layouts/about';
@import './layouts/advantages';
@import './layouts/gallery';
@import './layouts/contacts';
@import './layouts/customer-reviews';
@import './layouts/footer';
@import './layouts/modals';
