@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --primery-text-color: #FCFCFC;
  --primery-disabled-color: #ABABAB;
  --primery-br-disabled-color: #ABABAB;
  --primery-accent-color: #F8D24E;
  --primery-bg-color: #F8D24E;
  --primery-border-color: #F8D24E;
  --primery-title-color: #131313;
  --primery-hover-color: #0a8817;
  --primery-br-hover-color: #0a8817;
  --primery-title-font: font-family: "Seymour One";
  --main-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/montserrat-v25-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../../fonts/montserrat-v25-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/montserrat-v25-latin_cyrillic-regular.woff2") format("woff2"), url("../../fonts/montserrat-v25-latin_cyrillic-regular.woff") format("woff"), url("../../fonts/montserrat-v25-latin_cyrillic-regular.ttf") format("truetype"), url("../../fonts/montserrat-v25-latin_cyrillic-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/montserrat-v25-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../../fonts/montserrat-v25-latin-500.eot?#iefix") format("embedded-opentype"), url("../../fonts/montserrat-v25-latin-500.woff2") format("woff2"), url("../../fonts/montserrat-v25-latin-500.woff") format("woff"), url("../../fonts/montserrat-v25-latin-500.ttf") format("truetype"), url("../../fonts/montserrat-v25-latin-500.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/montserrat-v25-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("../../fonts/montserrat-v25-latin-600.eot?#iefix") format("embedded-opentype"), url("../../fonts/montserrat-v25-latin-600.woff2") format("woff2"), url("../../fonts/montserrat-v25-latin-600.woff") format("woff"), url("../../fonts/montserrat-v25-latin-600.ttf") format("truetype"), url("../../fonts/montserrat-v25-latin-600.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-800 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("../../fonts/montserrat-v25-latin-800.eot"); /* IE9 Compat Modes */
  src: local(""), url("../../fonts/montserrat-v25-latin-800.eot?#iefix") format("embedded-opentype"), url("../../fonts/montserrat-v25-latin-800.woff2") format("woff2"), url("../../fonts/montserrat-v25-latin-800.woff") format("woff"), url("../../fonts/montserrat-v25-latin-800.ttf") format("truetype"), url("../../fonts/montserrat-v25-latin-800.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/montserrat-v25-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../../fonts/montserrat-v25-latin-700.eot?#iefix") format("embedded-opentype"), url("../../fonts/montserrat-v25-latin-700.woff2") format("woff2"), url("../../fonts/montserrat-v25-latin-700.woff") format("woff"), url("../../fonts/montserrat-v25-latin-700.ttf") format("truetype"), url("../../fonts/montserrat-v25-latin-700.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-900 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: url("../../fonts/montserrat-v25-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("../../fonts/montserrat-v25-latin-900.eot?#iefix") format("embedded-opentype"), url("../../fonts/montserrat-v25-latin-900.woff2") format("woff2"), url("../../fonts/montserrat-v25-latin-900.woff") format("woff"), url("../../fonts/montserrat-v25-latin-900.ttf") format("truetype"), url("../../fonts/montserrat-v25-latin-900.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* inter-500 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/inter-v12-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../../fonts/inter-v12-latin-500.eot?#iefix") format("embedded-opentype"), url("../../fonts/inter-v12-latin-500.woff2") format("woff2"), url("../../fonts/inter-v12-latin-500.woff") format("woff"), url("../../fonts/inter-v12-latin-500.ttf") format("truetype"), url("../../fonts/inter-v12-latin-500.svg#Inter") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/roboto-v30-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../../fonts/roboto-v30-latin-700.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../../fonts/roboto-v30-latin-700.woff") format("woff"), url("../../fonts/roboto-v30-latin-700.ttf") format("truetype"), url("../../fonts/roboto-v30-latin-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* seymour-one-regular - latin */
@font-face {
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/seymour-one-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../../fonts/seymour-one-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/seymour-one-v20-latin-regular.woff2") format("woff2"), url("../../fonts/seymour-one-v20-latin-regular.woff") format("woff"), url("../../fonts/seymour-one-v20-latin-regular.ttf") format("truetype"), url("../../fonts/seymour-one-v20-latin-regular.svg#SeymourOne") format("svg"); /* Legacy iOS */
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

body {
  background-color: #84a178;
  font-family: "Montserrat";
  font-style: normal;
  color: #fcfcfc;
}

a,
button {
  cursor: url("../images/cursor.png"), default;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  max-width: 480px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.header {
  background-color: #84a178;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
}

.header__logo {
  margin-right: 292px;
}

.header__list {
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: 27px;
}

.header__link {
  padding-top: 14px;
  padding-bottom: 14px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  color: #fcfcfc;
}
.header__link:hover, .header__link:focus {
  color: #f8d24e;
}

.header__btn {
  margin-left: auto;
  padding: 0;
  width: 152px;
  height: 42px;
  background-color: #f8d24e;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2142857143;
  color: #131313;
}
.header__btn:hover {
  background-color: #0a8817;
}
.header__btn:focus {
  background-color: #0a8817;
  color: #fcfcfc;
}

.products {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.products__content {
  max-width: 1200px;
}
@media screen and (max-width: 480px) {
  .products {
    max-width: 480px;
    background-size: contain;
    background-position: top;
    background-repeat: repeat;
    background-image: url("../images/bg/bg.sec2.mobile_@1x.png");
  }
}
@media screen and (max-width: 480px) and (min-device-pixel-ratio: 2), screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 480px) and (min-resolution: 192dpi), screen and (max-width: 480px) and (min-resolution: 2dppx) {
  .products {
    background-image: url("../images/bg/bg.sec2.mobile_@2x.png");
  }
}
@media screen and (min-width: 481px) {
  .products {
    max-width: 768px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/bg/bg.sec.2.tablet_@1x.png");
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .products {
    background-image: url("../images/bg/bg.sec.2.tablet_@2x.png");
  }
}
@media screen and (min-width: 769px) {
  .products {
    display: flex;
    justify-content: center;
    max-width: 1600px;
    background-image: url("../images/bg/bg.sec.2_@1x.png");
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .products {
    background-image: url("../images/bg/bg.sec.2_@2x.png");
  }
}
.products__label-title {
  margin-bottom: 12px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .products__label-title {
    font-size: 22px;
    line-height: 27px;
  }
}
@media screen and (min-width: 1200px) {
  .products__label-title {
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.04em;
  }
}
.products__title {
  margin-bottom: 148px;
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .products__title {
    margin-bottom: 140px;
    font-size: 34px;
    line-height: 43px;
  }
}
@media screen and (min-width: 1200px) {
  .products__title {
    margin-bottom: 230px;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.06em;
  }
}
.products__list {
  display: inline-block;
}

.picture-container {
  display: inline-block;
  max-width: 200px;
  margin-bottom: -80px;
  transform: translateY(-50%);
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .picture-container {
    margin-bottom: -70px;
  }
}
@media screen and (min-width: 1200px) {
  .picture-container {
    width: 300px;
    height: 300px;
    margin-bottom: -120px;
    max-width: 300px;
  }
}

.ice-cream {
  background-color: #aec6a5;
}
.ice-cream__picture-container {
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
}
.ice-cream__picture-container::before {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  transform: translateY(-11px);
  background-image: url(../images/products/Ice-cream.sec.2.mobile_@1x.png);
  background-repeat: no-repeat;
  background-size: contain;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .ice-cream__picture-container::before {
    background-image: url(../images/products/Ice-cream.sec.2.mobile_@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .ice-cream__picture-container::before {
    width: 300px;
    height: 300px;
    transform: translateY(-17px);
  }
}
@media screen and (min-width: 481px) {
  .ice-cream__picture-container::before {
    background-image: url(../images/products/Ice-cream.sec.2.tablet_@1x.png);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .ice-cream__picture-container::before {
    background-image: url(../images/products/Ice-cream.sec.2.tablet_@2x.png);
  }
}
@media screen and (min-width: 769px) {
  .ice-cream__picture-container::before {
    background-image: url(../images/products/Ice-cream.sec.2_@1x.png);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .ice-cream__picture-container::before {
    background-image: url(../images/products/Ice-cream.sec.2_@2x.png);
  }
}

.ice-coffee {
  background-color: #efd478;
}
.ice-coffee__picture-container {
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}
.ice-coffee__picture-container::before {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  transform: translateY(-11px);
  background-image: url(../images/products/Ice-coffe.sec.2.mobile_@1x.png);
  background-repeat: no-repeat;
  background-size: contain;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .ice-coffee__picture-container::before {
    background-image: url(../images/products/Ice-coffe.sec.2.mobile_@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .ice-coffee__picture-container::before {
    width: 300px;
    height: 300px;
    transform: translateY(-17px);
  }
}
@media screen and (min-width: 481px) {
  .ice-coffee__picture-container::before {
    background-image: url(../images/products/Ice-coffe.sec.2.tablet_@1x.png);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .ice-coffee__picture-container::before {
    background-image: url(../images/products/Ice-coffe.sec.2.tablet_@2x.png);
  }
}
@media screen and (min-width: 769px) {
  .ice-coffee__picture-container::before {
    background-image: url(../images/products/Ice-coffe.sec.2_@1x.png);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .ice-coffee__picture-container::before {
    background-image: url(../images/products/Ice-coffe.sec.2_@2x.png);
  }
}

.milkshake {
  background-color: #d6936d;
}
.milkshake__picture-container {
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #d9d9d9;
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}
.milkshake__picture-container::before {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  transform: translateY(-11px);
  background-image: url(../images/products/Milkshakes.sec.2.mobile_@1x.png);
  background-repeat: no-repeat;
  background-size: contain;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .milkshake__picture-container::before {
    background-image: url(../images/products/Milkshakes.sec.2.mobile_@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .milkshake__picture-container::before {
    width: 300px;
    height: 300px;
    transform: translateY(-17px);
  }
}
@media screen and (min-width: 481px) {
  .milkshake__picture-container::before {
    background-image: url(../images/products/Milkshakes.sec.2.tablet_@1x.png);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .milkshake__picture-container::before {
    background-image: url(../images/products/Milkshakes.sec.2.tablet_@2x.png);
  }
}
@media screen and (min-width: 769px) {
  .milkshake__picture-container::before {
    background-image: url(../images/products/Milkshakes.sec.2_@1x.png);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .milkshake__picture-container::before {
    background-image: url(../images/products/Milkshakes.sec.2_@2x.png);
  }
}

.product {
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 5px;
  border-radius: 24px;
}
@media screen and (max-width: 767px) {
  .product {
    max-width: 480px;
    margin-bottom: 164px;
  }
}
@media screen and (min-width: 768px) {
  .product {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 26px;
    padding-left: 26px;
    min-height: 428px;
  }
}
@media screen and (min-width: 1200px) {
  .product {
    padding-right: 63px;
    padding-left: 63px;
    min-height: 535px;
  }
}
.product__title {
  margin-bottom: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .product__title {
    font-size: 22px;
    line-height: 27px;
  }
}
@media screen and (min-width: 1200px) {
  .product__title {
    margin-bottom: 65px;
    font-size: 30px;
    line-height: 37px;
  }
}
.product__text {
  margin-bottom: 110px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 176%;
  /* or 25px */
  letter-spacing: 0.04em;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .product__text {
    margin-bottom: auto;
  }
}
@media screen and (min-width: 1200px) {
  .product__text {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .products__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  .products__list .product {
    flex-basis: calc((100% - 32px) / 3);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__list .product {
    max-width: 224px;
  }
}
@media screen and (min-width: 1200px) {
  .products__list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
  .products__list .product {
    flex-basis: calc((100% - 64px) / 3);
  }
}
@media screen and (min-width: 1200px) and (min-width: 1200px) {
  .products__list .product {
    max-width: 370px;
  }
}

.product__button {
  padding: 5px;
  max-height: 30px;
  border: none;
  background-color: transparent;
}
.product__button .arrow--hover, .product__button .arrow--focus {
  opacity: 0;
}
.product__button:hover .arrow--default, .product__button:focus .arrow--default {
  opacity: 0;
}
.product__button:hover .arrow--hover {
  opacity: 1;
}
.product__button:focus .arrow--focus {
  opacity: 1;
}
@media screen and (min-width: 1200px) {
  .product__button {
    margin-bottom: 30px;
  }
}

.about {
  background-color: #84A178;
  color: #fcfcfc;
  padding: 60px, 20px;
  text-align: center;
}
.about.section {
  padding-bottom: 40px;
}
.about__titles {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__inline {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__uppertitle {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
}
.about__title {
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  width: 200px;
  margin-bottom: 32px;
}
.about__shape {
  display: block;
  width: 278.19px;
  height: 278.25px;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  border-radius: 140.182px;
  margin-bottom: 60px;
}
.about__image {
  transform: translateY(20px);
}
.about__uppertext {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.75;
  text-align: center;
  letter-spacing: 0.04em;
  width: 220px;
}
.about__text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.58;
  text-align: center;
  width: 220px;
}

.advantages {
  background-color: #84A178;
  color: #fcfcfc;
  text-align: center;
}
.advantages.section {
  padding-top: 0px;
}
.advantages__point {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 18px;
}
.advantages__list {
  padding: 0;
  margin: 0;
}
.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages__item:not(:last-child) {
  margin-bottom: 18px;
}
.advantages__circle {
  display: block;
  position: relative;
  background: #F8D24E;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
}
.advantages__circle-cow::after {
  content: url(../images/advantages/cow.sec.adv_@1x.png);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
}
.advantages__circle-ice::after {
  content: url(../images/advantages/ice-crem.sec.adv_@1x.png);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
}
.advantages__circle-weight::after {
  content: url(../images/advantages/frame.sec.adv_@1x.png);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
}
.advantages__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;
  text-align: center;
  width: 230px;
}

.gallery__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.gallery .image {
  margin: 0 auto;
}

.reviews {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fcfcfc;
  background-position: center;
  background-image: url(../images/bg/bg-ice-cream.sec4.mobile_@1x.png);
  background-size: cover;
}

.reviews__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.reviews__item .image {
  margin: 0 auto;
}

.reviews__description {
  background-color: #84a178;
  margin-bottom: 30px;
  padding: 34px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2.5833333333;
  text-align: center;
  color: #fcfcfc;
}

.reviews__heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.85;
  text-align: center;
  color: #131313;
}

.slick-dots li button {
  height: 12px;
  width: 12px;
}

.slick-dots li button:before {
  color: #d9d9d9;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: #84a178;
  opacity: 1;
}

.section__contacts {
  background-color: #84a178;
  position: relative;
}

.contacts__item {
  padding: 40px 32px;
  background-color: #fcfcfc;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  width: 280px;
}

.contacts__category {
  background-color: #f8d24e;
  border-radius: 4px;
  width: 80px;
  height: 16px;
  text-align: center;
  margin-bottom: 20px;
}

.contacts__representation {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #131313;
}

.contacts__city {
  margin-bottom: 8px;
}

.contacts__address {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.83;
  color: #d6936d;
  margin-bottom: 24px;
}

.contacts__address::after {
  content: "";
  display: block;
  border: 1px solid #e1e1e1;
  margin-bottom: 24px;
}

.contacts-timetable {
  color: #ababab;
  margin-bottom: 8px;
}

.contacts-timetable::after {
  content: "";
  display: block;
  border: 1px solid #e1e1e1;
  margin-bottom: 24px;
}

@media screen and (max-width: 767px) {
  .contacts__item {
    margin-bottom: 20px;
  }
}
.btn_location {
  display: block;
  width: 196px;
  height: 42px;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto;
  padding: 0;
  background-color: #f8d24e;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  color: #131313;
  border: none;
}
.btn_location:hover {
  background-color: #0a8817;
}
.btn_location:focus {
  background-color: #0a8817;
  color: #fcfcfc;
}
.btn_location:disabled {
  background-color: #ababab;
}

.btn_franchise {
  display: block;
  width: 196px;
  height: 42px;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto;
  padding: 0;
  color: #131313;
  background-color: #84a178;
  border: 2px solid #f8d24e;
}
.btn_franchise:hover {
  border: 2px solid #0a8817;
}
.btn_franchise:focus {
  border: 2px solid #0a8817;
  color: #fcfcfc;
}
.btn_franchise:disabled {
  border: 2px solid #ababab;
}

.footer {
  background-color: #84A178;
  padding-top: 39px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 120px;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-banner {
  margin-bottom: 40px;
}
@media screen and (max-width: 1199px) {
  .footer-banner {
    width: 234px;
    margin-bottom: 40px;
  }
}
.footer-banner__paragraf {
  font-family: "Montserrat" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  color: var(--primery-text-color);
  text-transform: uppercase;
  margin-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .footer-banner__paragraf {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.4em;
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-banner__paragraf {
    font-size: 26px;
    line-height: 1.22;
    letter-spacing: 0.4em;
    margin-bottom: 9px;
  }
}

.footer-banner__header {
  font-family: "Montserrat" sans-serif;
  font-size: 34px;
  line-height: 1.2;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.4em;
  color: var(--primery-text-color);
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .footer-banner__header {
    font-size: 58px;
    line-height: 1.22;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-banner__header {
    font-size: 48px;
    line-height: 1.22;
    letter-spacing: 0.06em;
  }
}

.socials {
  display: flex;
  margin-bottom: 38px;
}
.socials__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.socials__item:not(:last-child) {
  margin-right: 28px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: var(--primery-accent-color);
  color: #84A178;
  border-radius: 50%;
  transition: color var(--main-animation);
}
.socials__link:hover {
  color: var(--primery-text-color);
}
.socials__link:focus {
  color: var(--primery-text-color);
  width: 35px;
}

.socials__icon {
  fill: currentColor;
}

.footer-contacts {
  display: flex;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .footer-contacts {
    margin: 0;
  }
}
.footer-contacts__address {
  text-align: right;
}
.footer-contacts__text {
  font-family: "Montserrat" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  color: var(--primery-title-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-contacts__text {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contacts__text {
    font-size: 16px;
    letter-spacing: 0.2em;
  }
}
.footer-contacts__tel {
  font-family: "Montserrat" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: var(--primery-text-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-contacts__tel {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contacts__tel {
    font-size: 16px;
    letter-spacing: 0.2em;
  }
}

.copyright {
  text-align: center;
  border-top: 1px solid #e1e1e1;
  width: 100%;
  justify-content: center;
  padding: 16px 20px;
}
.copyright__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  /* or 21px */
  text-align: center;
  color: #7A7A7A;
}

.modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;
  overflow-y: scroll;
  /*  Установаем ширину окна  */
  width: 100%;
  height: 100%;
  max-width: 280px;
  padding: 28px;
  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30; /* Должен быть выше чем у подложки*/
  /*  Побочные стили   */
  text-align: center;
  transition: 0.3s all;
  background-color: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .modal {
    max-width: 568px;
    padding: 32px;
    height: auto;
    overflow-y: auto;
  }
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 8px;
  height: 8px;
}
@media screen and (min-width: 768px) {
  .modal-close {
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
  }
}

.modal_title {
  margin-bottom: 20px;
  font-family: "Seymour One";
  font-size: 16px;
  line-height: 1.5;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .modal_title {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 1.4;
  }
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}

.input.textarea {
  resize: none;
  margin-bottom: 0;
}

.modal-close {
  background-color: #fff;
  border: none;
}

.modal-submit_button {
  margin-top: 24px;
  width: 114px;
  height: 42px;
  background-color: #f8d24e;
  border: none;
  border-radius: 10px;
  color: #131313;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
}
@media screen and (min-width: 481px) {
  .modal-submit_button {
    margin-top: 32px;
    width: 121px;
    font-size: 14px;
    line-height: 1.2142857143;
  }
}

@media screen and (max-width: 480px) {
  .icon-close-modal {
    width: 8px;
    height: 8px;
  }
}

@media screen and (max-width: 480px) {
  .buy-now_modal {
    max-height: 100%;
    overflow-y: scroll;
  }
}

.buy-now_title {
  margin-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .buy-now_title {
    margin-bottom: 103px;
  }
}

.buy-now_checkbox-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
  gap: 84px;
}
@media screen and (min-width: 768px) {
  .buy-now_checkbox-container {
    flex-direction: row;
    gap: 32px;
    margin-bottom: 40px;
  }
}

.buy-now_checkbox-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buy-now_thumb {
  position: relative;
  width: 132px;
  height: 136px;
  padding-bottom: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
  border-radius: 16px;
  transition: 1s all;
}

.image_underlay {
  position: absolute;
  bottom: 60px;
  width: 132px;
  height: 132px;
  border-radius: 50%;
}

.icecream_underlay {
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.icecoffee_underlay {
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
}

.milkshake_underlay {
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
}

.thumb-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}

.buy-now_form {
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .buy-now_form {
    max-width: 368px;
  }
}

.input {
  width: 100%;
  margin-bottom: 12px;
  padding: 8px 12px 7px 12px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4166666667;
  color: #131313;
}

.input::-moz-placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4166666667;
  color: #131313;
}

.input:-ms-input-placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4166666667;
  color: #131313;
}

.input::placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4166666667;
  color: #131313;
}

.checkbox {
  display: none;
}

.icecream_thumb {
  border: 2px solid #96af8c;
}

.checkbox:checked + .icecream_thumb {
  background-color: #96af8c;
}

.icecoffee_thumb {
  border: 2px solid #efd478;
}

.checkbox:checked + .icecoffee_thumb {
  background-color: #efd478;
}

.milkshake_thumb {
  border: 2px solid #d6936d;
}

.checkbox:checked + .milkshake_thumb {
  background-color: #d6936d;
}

.buy-now-ingredients_modal {
  padding: 32px 20px;
  max-height: 100%;
  overflow-y: scroll;
}
@media screen and (min-width: 481px) {
  .buy-now-ingredients_modal {
    padding: 32px 40px;
  }
}

.buy-now-ingredients_title {
  margin-bottom: 30px;
}

.buy-now-ingredients_image-underlay {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.buy-now-ingredients_list {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 39px;
  display: flex;
  justify-content: center;
  gap: 9px;
}
@media screen and (min-width: 481px) {
  .buy-now-ingredients_list {
    margin-bottom: 24px;
    gap: 20px;
  }
}

.buy-now-ingredients_item {
  position: relative;
  display: flex;
  width: calc((100% - 27px) / 4);
  height: 72px;
  padding: 8px;
  border: 2px solid #9cbe8f;
  border-radius: 40px;
  align-items: flex-end;
  justify-content: center;
}
@media screen and (min-width: 481px) {
  .buy-now-ingredients_item {
    width: 65px;
    height: 90px;
  }
}

.nutrients_underlay {
  position: absolute;
  display: flex;
  top: -2px;
  width: 43px;
  height: 43px;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 10px;
  line-height: 2.8;
  color: #131313;
  border-radius: 50%;
  background: #9cbe8f;
  border: 2px solid #9cbe8f;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
}
@media screen and (min-width: 481px) {
  .nutrients_underlay {
    width: 53px;
    height: 53px;
    font-size: 12px;
    line-height: 2.3333333333;
  }
}

.nutrients {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #131313;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ingredients_small-title {
  margin-bottom: 24px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: #131313;
}

.ingredients_list {
  margin-bottom: 48px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7857142857;
  letter-spacing: 0.04em;
  color: #131313;
}

.ingredients_item {
  display: flex;
  justify-content: space-between;
}

.how-its-made_modal {
  height: auto;
}
@media screen and (min-width: 481px) {
  .how-its-made_modal {
    padding: 32px 60px;
  }
}

.how-its-made_video {
  margin-bottom: 20px;
}

@media screen and (min-width: 481px) {
  .how-its-made_video {
    width: 448px;
    height: 205px;
  }
}

.how-its-made_text {
  font-family: "Montserrat";
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.4285714286;
  color: #131313;
}
.location_modal {
  height: auto;
}
@media screen and (min-width: 481px) {
  .location_modal {
    padding: 32px 60px;
  }
}

.location-image {
  display: block;
  border-radius: 10px;
  margin-bottom: 24px;
}
@media screen and (min-width: 481px) {
  .location-image {
    width: 448px;
    height: 260px;
  }
}

.open-map_link {
  padding: 12px 34px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  text-decoration: none;
  color: #131313;
  background-color: #f8d24e;
  border-radius: 10px;
}
@media screen and (min-width: 481px) {
  .open-map_link {
    font-size: 14px;
    line-height: 1.2142857143;
  }
}

@media screen and (max-width: 480px) {
  .franchise_modal {
    height: auto;
    overflow-y: scroll;
  }
}
@media screen and (min-width: 481px) {
  .franchise_modal {
    padding: 32px 60px;
  }
}

.franchise_text {
  margin-bottom: 24px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285714286;
  color: #131313;
}

.style_btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 164px;
  height: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2857142857;
  background-color: var(--primery-bg-color);
  border: none;
  border-radius: 10px;
}
.btn:hover, .btn:focus {
  background-color: var(--primery-hover-color);
}
.btn:focus {
  fill: var(--primery-text-color);
  color: var(--primery-text-color);
}
.btn:disabled {
  background-color: var(--primery-disabled-color);
}

.btn_transparent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 196px;
  height: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2857142857;
  background-color: inherit;
  border: 2px solid var(--primery-border-color);
  border-radius: 10px;
}
.btn_transparent:hover {
  border: 2px solid var(--primery-br-hover-color);
}
.btn_transparent:focus {
  border: 0;
  fill: var(--primery-text-color);
  color: var(--primery-text-color);
  outline: 2px solid var(--primery-br-hover-color);
}
.btn_transparent:disabled {
  border: 0;
  outline: 2px solid var(--primery-br-disabled-color);
}/*# sourceMappingURL=index.css.map */