:root {
  --primery-text-color: #FCFCFC;
  --primery-accent-color: #F8D24E;
  --primery-title-color: #131313;
  --primery-title-font: font-family: 'Seymour One';
  --main-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// breakpoints:
$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;
