:root {
  --primery-text-color: #fcfcfc;
  --primery-disabled-color: #ababab;
  --primery-br-disabled-color: #ababab;
  --primery-accent-color: #f8d24e;
  --primery-bg-color: #f8d24e;
  --primery-border-color: #f8d24e;
  --primery-title-color: #131313;
  --primery-hover-color: #0a8817;
  --primery-br-hover-color: #0a8817;
  --main-bg-color: #84a178;

  --primery-title-font: 'Seymour One';
  --main-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// breakpoints:
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
