.buy-now_title {
  @media screen and(min-width: 768px) {
    margin-bottom: 40px;
  }
}

.buy-now_checkbox-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
  gap: 20px;

  @media screen and(min-width: 768px) {
    flex-direction: row;
    gap: 32px;
    margin-bottom: 40px;
  }
}

.buy-now_item {
  position: relative;

  @media screen and(max-width:767px) {
    margin-right: auto;
    margin-left: auto;
  }
}

.checkbox {
  display: none;
}

.buy-now_checkbox-label {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;

  width: 132px;
  height: 200px;
  border: 2px solid;
  border-radius: 16px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;

  filter: drop-shadow(0px 5px 20px rgba(212, 20, 67, 0.1));
  transition: var(--main-animation) all;

  font-weight: 700;
  font-size: 16px;
  line-height: decimal-round(calc(20 / 16));
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--primery-title-color);

  user-select: none;
}

.ice-cream-label {
  border: 2px solid #96af8c;
}

.ice-cream-checkbox:checked:checked + .ice-cream-label {
  background-color: #96af8c;
}

.ice-coffee-label {
  border: 2px solid #efd478;
}

.ice-coffee-checkbox:checked + .ice-coffee-label {
  background-color: #efd478;
}

.milkshake-label {
  border: 2px solid #d6936d;
}

.milkshake-checkbox:checked + .milkshake-label {
  background-color: #d6936d;
}

.image_underlay {
  position: absolute;
  top: 9px;
  left: 0;
  pointer-events: none;
  width: 132px;
  height: 132px;

  border-radius: 50%;
}

.icecream_underlay {
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5px 20px rgba(10, 136, 23, 0.25);
}

.ice-coffee_underlay {
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5px 20px rgba(153, 114, 23, 0.25);
}

.milkshake_underlay {
  background: linear-gradient(
      0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}

.buy-now_modal-image {
  position: absolute;
  left: 0;
  top: -9px;
}

.buy-now_form {
  margin-right: auto;
  margin-left: auto;

  @media screen and(min-width: 768px) {
    max-width: 368px;
  }
}
