.franchise_modal {
  @media screen and(max-width: 480px) {
    overflow-y: scroll;
  }

  @media screen and(min-width: 481px) {
    padding: 32px 60px;
  }
}

.franchise_text {
  margin-bottom: 24px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: calc(20 / 14);
  color: var(--primery-title-color);
}
