.how-its-made_modal {
  @media screen and(min-width: 768px) {
    padding: 32px 60px;
  }
}

.how-its-made_video {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  background: #000000;
  border-radius: 10px;

  @media screen and(min-width: 768px) {
    width: 448px;
    height: 205px;
  }
}

.how-its-made_text {
  line-height: decimal-round(calc(20 / 14));
  color: var(--primery-title-color);
}
