<section class="about">
  <p class="about__uppertitle">tradition and love</p>
  <h2 class="about__title">how it's made</h2>
  <div class="about__shape">
    <!-- <img src="" alt="picture of a cow" width="279" class="about__image" /> -->
  </div>
  <p class="about__text"></p>
  <p class="about__text"></p>
  <p class="about__text"></p>
  <button type="button" class="about__button">
    Read More
    <svg class="about__icon" width="12" height="12">
      <!-- <use href=""></use> -->
    </svg>
  </button>
</section>
