<section class="advantages">
  <h2 class="visually-hidden">Our Advantages</h2>
  <ul class="advantages__list">
    <li class="advantages__item">
      <div class="advantages__circle">
        <svg class="advantages__icon" width="36" height="36">
          <!-- <use href=""></use> -->
        </svg>
      </div>
      <p class="advantages__attribute">721</p>
      <p class="advantages__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advantages__item">
      <div class="advantages__circle">
        <svg class="advantages__icon" width="36" height="36">
          <!-- <use href=""></use> -->
        </svg>
      </div>
      <p class="advantages__attribute">16 KG</p>
      <p class="advantages__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advantages__item">
      <div class="advantages__circle">
        <svg class="advantages__icon" width="36" height="36">
          <!-- <use href=""></use> -->
        </svg>
      </div>
      <p class="advantages__attribute">84</p>
      <p class="advantages__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
  </ul>
</section>
