<section class="advantages section">
  <div class="container">
    <ul class="advantages__list list">
      <li class="advantages__item">
        <div class="advantages__circle advantages__circle-cow animate__infinite	infinite"></div>
        <p class="advantages__point">721</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <div class="advantages__circle advantages__circle-weight"></div>
        <p class="advantages__point">16kg</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <div class="advantages__circle advantages__circle-ice"></div>
        <p class="advantages__point">84</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>