<section class="advantages section">
  <div class="container">
    <ul class="advantages__list list">
      <li class="advantages__item">
        <div class="advantages__circle">
          <svg class="advantages__icon" width="36" height="36">
            <!-- <use href=""></use> -->
          </svg>
        </div>
        <p class="advantages__point">721</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <div class="advantages__circle">
          <svg class="advantages__icon" width="36" height="36">
            <!-- <use href=""></use> -->
          </svg>
        </div>
        <p class="advantages__point">16 KG</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <div class="advantages__circle">
          <svg class="advantages__icon" width="36" height="36">
            <!-- <use href=""></use> -->
          </svg>
        </div>
        <p class="advantages__point">84</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>