<!-- кнопка Buy now і модальні вікна -->
<div class="style_btn">
  <!-- модальні вікна  (потрібне свг)  -->
  <button class="btn buy_btn" type="button">Buy now</button>

  <!-- кнопка Submit одинакова на всіх модальних вікнах, окрім модалки ingredient -->
  <button class="btn modal_buy_btn" type="submit">Submit</button>

  <!-- в модалкі ingredient ця кнопка в мобільній версії має інший розмір ніж в інших (став цю) -->
  <button class="btn modal_ingredient_btn" type="submit">Submit</button>

  <!-- кнопка Open map адаптується тільки під мобільну версію, під desktop i tablet вона одинакова -->
  <button class="btn maps_btn" type="button">Open map</button>
</div>

<!-- кнопка (посилання) Products -->
<div class="style_btn">
  <a class="link products_btn" href="#products">Products</a>
</div>

<!-- Кнопка  Read more не потрибує адаптації -->
<div class="style_btn">
  <button class="btn more_btn" type="button">Read more</button>
</div>
