<section class="section__contacts">
<div class="container">
    <h2 class="visually-hidden">Our contacts</h2>

    
        <ul class="list contacts__list">
            <li class="contacts__item">
                <ul class="list contacts__chapter">
                    <li class="contacts__category">
                        <p class="contacts__representation">CAFE</p>
                    </li>
                    <li class="contacts__city">
                        <p class="">Chicago</p>
                    </li>
                    <li class="contacts__address">
                        10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
                    </li>
                    <li class="contacts-timetable">
                        <p class="contacts-timetable__day">Monday - Friday</p>
                        <p class="contacts-timetable__time">06:00 AM - 10:00 PM</p>
                        <p class="contacts-timetable__day">Saturday - Sunday</p>
                        <p class="contacts-timetable__time">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="contacts-info">
                        <a class="contacts-info__tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        <a class="contacts-info__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>

            <li class="contacts__item">
                <ul class="list contacts__chapter">
                    <li class="contacts__category">
                        <p class="contacts__representation">FOODTRUCK</p>
                    </li>
                    <li class="contacts__city">
                        <p class="">Los Angeles</p>
                    </li>
                    <li class="contacts__address">
                        1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
                    </li>
                    <li class="contacts-timetable">
                        <p class="contacts-timetable__day">Monday - Friday</p>
                        <p class="contacts-timetable__time">06:00 AM - 10:00 PM</p>
                        <p class="contacts-timetable__day">Saturday - Sunday</p>
                        <p class="contacts-timetable__time">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="contacts-info">
                        <a class="contacts-info__tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        <a class="contacts-info__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>

            <li class="contacts__item">
                <ul class="list contacts__chapter">
                    <li class="contacts__category">
                        <p class="contacts__representation">CAFE</p>
                    </li>
                    <li class="contacts__city">
                        <p class="">New York</p>
                    </li>
                    <li class="contacts__address">
                        726 Sterling Pl, Brooklyn, NY 11222, USA
                    </li>
                    <li class="contacts-timetable">
                        <p class="contacts-timetable__day">Monday - Friday</p>
                        <p class="contacts-timetable__time">06:00 AM - 10:00 PM</p>
                        <p class="contacts-timetable__day">Saturday - Sunday</p>
                        <p class="contacts-timetable__time">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="contacts-info">
                        <a class="contacts-info__tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        <a class="contacts-info__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            </ul>
            
            <button type="button" data-modal="locations" class="btn_location open-modal js-open-modal">Our Locations</button>
            <button type="button" data-modal="franchise" class="btn_franchise open-modal js-open-modal">Franchise</button>
            </div>
            </section>