<header>
  <div>
    <a href="./index.html">
      <svg width="60" height="65">
        <use></use>
      </svg>
    </a>

    <nav>
      <ul>
        <li>
          <a href="./index.html">Home</a>
        </li>
        <li>
          <a href="#about">How it’s made?</a>
        </li>
        <li>
          <a href="#products">Our products</a>
        </li>
        <li>
          <a href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>

      <button type="button" data-modal="buy-now" class="open-modal js-open-modal">Buy Now</button>
  </div>
</header>
