<section class="hero">
  <div class="hero-container container">
    <div class="hero__wrap">
      <h1 class="hero-title">
        ice cream made with <span class="hero-title__box">passion</span>
      </h1>
      <div class="wrap-hero-btn">
        <a class="hero-prod-btn" href="#products"> Products </a>
        <a class="made-btn" href="#about"> How it`s made? </a>
      </div>
      <div class="hero-pic-box"></div>
    </div>
    <div class="hero-desc">
      <p class="hero-desc__text">
        Ice cream is a mixture of milk that has been frozen into a soft for your
        pleasure.
      </p>
      <a class="hero-btn-arrow" href="#gallery">
        <svg class="icon-button" width="40px" height="15px">
          <use
            class="arrow arrow--default"
            href="./images/svg/icons.svg#arrow-default"
          ></use>
          <use
            class="arrow arrow--hover"
            href="./images/svg/icons.svg#arrow-hover"
          ></use>
          <use
            class="arrow arrow--focus"
            href="./images/svg/icons.svg#arrow-focus"
          ></use>
        </svg>
      </a>
    </div>
    <ul class="hero-thumb">
      <li class="hero-thumb__numb">16</li>
      <li class="hero-thumb__text">cafes</li>
      <li class="hero-thumb__numb">23</li>
      <li class="hero-thumb__text">food trucks</li>
    </ul>
  </div>
</section>
