    <!-- /**
      |============================
      | Buy Now Modal Window
      |============================
    */ -->

    <div class="modal js-modal" data-modal="buy-now">
      <button type="button" class="modal-close js-modal-close">X</button>
      <h3 class="modal_title">Buy now</h3>

      <div class="buy-now_checkbox-container">
        <label class="buy-now_checkbox-label">
          <input class="checkbox" type="checkbox" name="icecream" value="ice-cream" />
          <div class="buy-now_thumb icecream_thumb">
            <div class="image_underlay icecream_underlay"></div>
            <p class="thumb-title">Ice Cream</p>
          </div>
        </label>

        <label class="buy-now_checkbox-label">
          <input class="checkbox" type="checkbox" name="icecream" value="ice-coffee" />
          <div class="buy-now_thumb icecoffee_thumb">
            <div class="image_underlay icecoffee_underlay"></div>
            <p class="thumb-title">Ice Coffee</p>
          </div>
        </label>

        <label class="buy-now_checkbox-label">
          <input class="checkbox" type="checkbox" name="icecream" value="milkshake" />
          <div class="buy-now_thumb milkshake_thumb">
            <div class="image_underlay milkshake_underlay"></div>
            <p class="thumb-title">Milkshake</p>
          </div>
        </label>
      </div>

      <form name="buy-now" class="form buy-now_form">
        
        <label class="form_label">
          <input class="input" type="text" name="name" autocomplete="on" placeholder="Name" />
        </label>

        <label class="form_label">
          <input class="input" type="tel" name="tel" autocomplete="on" placeholder="Phone" />
        </label>

        <label class="form_label">
          <textarea class="input textarea" name="comment" id="comment" rows="3" placeholder="Comment" ></textarea>
        </label>
      </form>

      <button type="submit">Submit</button>
    </div>

    <!-- /**
  |============================
  | Buy Now Modal Window (with Ingredients)
  |============================
*/ -->

    <div class="modal js-modal" data-modal="buy-now_ingredients">
      <button type="button" class="modal-close js-modal-close">X</button>
      <h3 class="modal_title">Chocolate icecream</h3>
      <div class="image"></div>
      <ul>
        <li>ckal</li>
        <li>Proteins</li>
        <li>Fats</li>
        <li>Carbs</li>
      </ul>
      <p>Ingredients</p>
      <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, officiis?</div>
      <form name="buy-now">
        <label>
          <input type="text" name="name" autocomplete="on" placeholder="Name" />
        </label>
        <label>
          <input type="tel" name="tel" autocomplete="on" placeholder="Phone" />
        </label>
        <label>
          <input type="text" name="comment" autocomplete="on" placeholder="Comment" />
        </label>
      </form>
      <button type="submit">Submit</button>
    </div>

    <!-- /**
  |============================
  | How It`s Made Modal Window
  |============================
*/ -->

    <div class="modal js-modal" data-modal="how-made">
      <button type="button" class="modal-close js-modal-close">X</button>
      <h3 class="modal_title">Buy now</h3>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/zagD0LQdsDE"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A, magni minus incidunt voluptate
        quae tempora saepe excepturi repellendus adipisci ipsam.
      </div>
    </div>

    <!-- /**
  |============================
  | Locations Modal Window
  |============================
*/ -->

    <div class="modal js-modal" data-modal="locations">
      <button type="button" class="modal-close js-modal-close">X</button>
      <h3 class="modal_title">Buy now</h3>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1467.6141402940586!2d30.52492646283971!3d50.449541745586096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce50ffa1b91f%3A0x42d5962fe7e791c!2z0JzQsNC50LTQsNC9INCd0LXQt9Cw0LvQtdC20L3QvtGB0YLRlg!5e0!3m2!1suk!2sua!4v1665785887368!5m2!1suk!2sua"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      <a href="">Open Map</a>
    </div>

    <!-- /**
  |============================
  | Franchise Modal Window
  |============================
*/ -->

    <div class="modal js-modal" data-modal="franchise">
      <button type="button" class="modal-close js-modal-close">X</button>
      <h3 class="modal_title">Thank you for your interest in owning an Ice Cream shop</h3>
      <div>
        Due to the overwhelming volume of franchise requests we are not accepting new franchisee
        applications at this time. Once the application process resumes, we will contact you for
        further information. Please fill out the contact information below and we will reach out for
        additional information. We appreciate your patience.
      </div>
      <form name="buy-now">
        <label>
          <input type="text" name="name" autocomplete="on" placeholder="Name" />
        </label>
        <label>
          <input type="tel" name="tel" autocomplete="on" placeholder="Phone" />
        </label>
        <label>
          <input type="email" name="email" autocomplete="on" placeholder="E-mail" />
        </label>

        <label>
          <input type="text" name="comment" autocomplete="on" placeholder="Comment" />
        </label>
      </form>
      <button type="submit">Submit</button>
    </div>

    <!-- /**
  |============================
  | Overlay
  |============================
*/ -->

    <div class="overlay js-overlay-modal"></div>

