<section class="products">
  <div class="container products__content">
    <strong class="products__label-title">100% natural</strong>
    <h2 class="products__title">Products</h2>
    <ul class="list products__list">
      <li class="product ice-cream">
        <div class="picture-container ice-cream__picture-container">
          <img
            class="img"
            src="./images/products/Ice-cream.sec.2.mobile_@1x.png"
            alt="ice-cream"
          />
        </div>
        <h3 class="product__title">ice cream</h3>
        <p class="product__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
      </li>
      <li class="product ice-coffee">
        <div class="picture-container ice-coffee__picture-container">
          <img
            class="img"
            src="./images/products/Ice-coffe.sec.2.mobile_@1x.png"
            alt="ice-coffee"
          />
        </div>
        <h3 class="product__title">ice coffee</h3>
        <p class="product__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
      </li>
      <li class="product milkshak">
        <div class="picture-container milkshak__picture-container">
          <img
            class="img"
            src="./images/products/Milkshakes.sec.2.mobile_@1x.png"
            alt="milkshak"
          />
        </div>
        <h3 class="product__title">ice cream</h3>
        <p class="product__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
      </li>
    </ul>
  </div>
</section>
