.about {
  background-color: #84a178;
  text-align: center;

  &.section {
    padding-bottom: 40px;
  }
  &__titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__inline {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      // justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 8px;
    }
  }

  &__uppertitle {
    margin-bottom: 12px;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;

    text-align: center;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      font-weight: 800;
      font-size: 22px;
      letter-spacing: 0.04em;
      line-height: 1.23;
    }
    @media screen and (min-width: 1200px) {
      font-size: 30px;
      line-height: 1.24;
    }
  }
  &__title {
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 30px;

    line-height: 1.27;
    text-align: center;
    letter-spacing: 0.04em;

    text-transform: uppercase;
    width: 200px;

    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
      font-size: 34px;
      line-height: 1.26;
      letter-spacing: 0.06em;
      width: 100%;
    }
    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: 1.25;
      margin-bottom: 82px;
    }
  }
  &__shape {
    display: block;
    width: 278.19px;
    height: 278.25px;
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
    border-radius: 140.182px;
    margin-bottom: 60px;
    @media screen and (min-width: 768px) {
      width: 334.65px;
      height: 330px;
      border-radius: 165.879px;
      margin-bottom: 0px;
      margin-right: 100px;
    }
    @media screen and (min-width: 1200px) {
      width: 500px;
      height: 500px;
      border-radius: 250px;
    }
  }
  &__image {
    transform: translateY(21.82px);
    width: 279px;
    @media screen and (min-width: 768px) {
      width: 335px;
      transform: translateY(25.88px);
    }
    @media screen and (min-width: 1200px) {
      width: 490px;
      transform: translateY(25.88px);
    }
  }
  &__uppertext {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.75;

    text-align: center;
    letter-spacing: 0.04em;
    width: 220px;
    @media screen and (min-width: 768px) {
      width: 336px;
      text-align: start;
      line-height: 1.76;
      margin-bottom: 4px;
      margin-top: 5px;
    }
    @media screen and (min-width: 1200px) {
      width: 463px;
      font-size: 16px;
      margin-bottom: 8px;
      margin-top: 90px;
    }
  }
  &__text {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.58;

    text-align: center;
    width: 220px;
    @media screen and (min-width: 768px) {
      width: 336px;
      text-align: start;
      line-height: 1.76;
      margin-bottom: 8px;
    }
    @media screen and (min-width: 1200px) {
      width: 463px;
      font-size: 14px;
      line-height: 1.94;
    }
  }
  &__lowertext {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.94;
    letter-spacing: 0.04em;
    width: 336px;
    margin-bottom: 48px;
    text-align: start;
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: 1200px) {
      width: 463px;
      font-size: 14px;
    }
  }
}
