.advantages {
  text-align: center;

  &.section {
    padding-top: 0px;
    @media screen and (min-width: $tablet) {
      padding-bottom: 204px;
    }
    @media screen and (min-width: $desktop) {
      padding-bottom: 180px;
    }
  }
  &__point {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: decimal-round(calc(42px / 36px));
    letter-spacing: 0.04em;

    margin-bottom: 18px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 16px;
      font-size: 48px;
      line-height: decimal-round(calc(59px / 48px));
    }
    @media screen and (min-width: $desktop) {
      font-size: 58px;
      line-height: decimal-round(calc(71px / 58px));
    }
  }
  &__list {
    padding: 0;
    margin: 0;
    @media screen and (min-width: $tablet) {
      display: flex;
      justify-content: space-around;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 18px;
      @media screen and (min-width: $tablet) {
        margin-bottom: 0;
      }
    }
  }
  &__circle {
    display: block;
    position: relative;
    background: transparent;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    margin-bottom: 16px;
    &-cow::after {
      content: url(../images/advantages/cow.sec.adv_@1x.png);
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;

      animation: swing;
      animation-duration: 9s;
      animation-iteration-count: infinite;
    }
    &-ice::after {
      content: url(../images/advantages/ice-crem.sec.adv_@1x.png);
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;

      animation: swing;
      animation-duration: 9s;
      animation-iteration-count: infinite;
    }
    &-weight::after {
      content: url(../images/advantages/frame.sec.adv_@1x.png);
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;

      animation: swing;
      animation-duration: 9s;
      animation-iteration-count: infinite;
    }
    @media screen and (min-width: $tablet) {
      margin-bottom: 32px;
    }
  }
  &__text {
    font-weight: 700;
    font-size: 12px;
    line-height: decimal-round(calc(20px / 12px));

    text-align: center;
    width: 230px;
    @media screen and (min-width: $tablet) {
      font-size: 14px;
      line-height: decimal-round(calc(24px / 14px));
      font-weight: 400;
      width: 152px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 16px;
      line-height: decimal-round(calc(28px / 16px));
      letter-spacing: 0.02em;
      width: 368px;
    }
  }
}
