.section-contacts {
  background-color: #84a178;
}

// Content up
.contacts {
  transform: translateY(-345px);

  @media screen and (min-width: 768px) {
    transform: translateY(-304px);
  }

  @media screen and (min-width: 1200px) {
    transform: translateY(-96px);
  }
}

// Resize the section

.section-contacts {
  margin-bottom: -305px;

  @media screen and (min-width: 768px) {
    margin-bottom: -264px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 26px;
  }
}

.contacts__item {
  padding: 40px 32px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fcfcfc;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  width: 280px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 40px 24px;
    width: 224px;
  }

  @media screen and (min-width: 1200px) {
    padding: 40px 40px;
    width: 368px;
  }
}

.contacts__city {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: decimal-round(calc (22/12));
  letter-spacing: 0.04em;
  color: #131313;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 14px;
    line-height: decimal-round(calc (26/14));
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: decimal-round(calc (30/16));
  }
}

.contacts__category {
  background-color: #f8d24e;
  border-radius: 4px;
  width: 80px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    width: 73px;
    height: 28px;
    border-radius: 6px;
  }
}

.contacts__category--big {
  width: 130px;

  @media screen and (min-width: 768px) {
    width: 138px;
  }
}

.contacts__representation {
  font-weight: 500;
  font-size: 12px;
  line-height: decimal-round(calc (22/12));
  letter-spacing: 0.04em;
  color: #131313;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: decimal-round(calc (30/16));
  }
}

.contacts__city {
  margin-bottom: 8px;
}

.contacts__address {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: decimal-round(calc (22/12));
  color: #d6936d;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 14px;
    line-height: decimal-round(calc (26/14));
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: decimal-round(calc (29/16));
  }
}

.contacts-timetable__day {
  font-weight: 500;
  font-size: 12px;
  line-height: decimal-round(calc (22/12));
  color: #131313;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 14px;
    line-height: decimal-round(calc (26/14));
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: decimal-round(calc (30/16));
  }
}

.contacts-timetable__time {
  font-weight: 500;
  font-size: 12px;
  line-height: decimal-round(calc (22/12));
  color: #ababab;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 14px;
    line-height: decimal-round(calc (26/14));
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: decimal-round(calc (30/16));
  }
}

.contacts-timetable__time-week {
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    margin-bottom: 12px;
  }
}

.contacts-timetable::before {
  content: '';
  display: block;
  border: 1px solid #e1e1e1;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.contacts-timetable {
  color: #ababab;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.contacts-info::before {
  content: '';
  display: block;
  border: 1px solid #e1e1e1;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.contacts-info__tel {
  font-weight: 500;
  font-size: 12px;
  line-height: decimal-round(calc (18/12));
  color: #131313;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 14px;
    line-height: decimal-round(calc (26/14));
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: decimal-round(calc (29/16));
  }
}

.contacts-info__mail {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: decimal-round(calc (18/12));
  color: #131313;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 14px;
    line-height: decimal-round(calc (26/14));
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: decimal-round(calc (29/16));
  }
}

@media screen and (max-width: 767px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__list {
    display: flex;
    gap: 16px;
  }

  @media screen and (min-width: 1200px) {
    .contacts__list {
      gap: 32px;
    }
  }
}

.contacts__list {
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 767px) {
  .btn {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .btn-franch {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .contacts_buttons {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .btn_big {
    margin-bottom: 16px;
  }
}
