/**
  |============================
  | Footer
  |============================
*/
// Text //
.footer__container {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 60px;
  }
}

.footer-banner {
  margin-bottom: 42px;
  width: 234px;
  @media screen and (min-width: 768px) {
    width: 352px;
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1200px) {
    width: 504px;
    margin-bottom: 0;
  }
  &__paragraph {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-transform: uppercase;
    margin-bottom: 16px;
    color: var(--primery-text-color);

    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: 32px;
      letter-spacing: 0.04em;
      margin-bottom: 9px;
      height: 57px;
      font-weight: 700;
    }

    @media screen and (min-width: 1200px) {
      color: var(--primery-text-color);
      font-weight: 400;
      font-size: 30px;
      line-height: 37px;
      margin-bottom: 14px;
    }
  }
}
.footer-banner__header {
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.04em;
  color: var(--primery-text-color);
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 0.06em;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 71px;
  }
}
// Socials //

.socials-box {
  margin-left: auto;
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.socials__list {
  display: flex;
  justify-content: end;
  margin-bottom: 38px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}

.socials__item:not(:last-child) {
  margin-right: 28px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  background-color: var(--primery-accent-color);
  color: #84a178;
  border-radius: 50%;
  transition: color var(--main-animation);

  &:hover {
    color: var(--primery-text-color);
  }
  &:focus {
    color: var(--primery-text-color);
    width: 35px;
  }
}
.socials__icon {
  fill: currentColor;
}
// Contacts //
.footer-contacts {
  @media screen and (min-width: 768px) {
    margin: 0;
  }
  &__address {
    text-align: right;
  }
  &__text {
    text-align: end;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    color: var(--primery-title-color);
    @media screen and(min-width:768px) {
      font-size: 14px;
    }
    @media screen and(min-width:1200px) {
      font-size: 16px;
      letter-spacing: 0.2em;
    }
  }
  &__tel {
    color: var(--primery-text-color);
  }
}
// Copyright //
.footer-border {
  border-top: 1px solid #e1e1e1;
  border-width: 100%;
}

.copyright {
  text-align: center;

  padding-top: 16px;
  padding-bottom: 62px;

  @media screen and(max-width:320px) {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and(min-width:768px) {
    padding-top: 14px;
    padding-bottom: 13px;
  }

  @media screen and(min-width:1200px) {
    padding-top: 12px;
    padding-bottom: 11px;
  }

  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  /* or 21px */
  color: #7a7a7a;
}
