// Footer//
.footer {
    background-color:  #84A178;
    &__container {
        @media screen and(min-width:768px) {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
}
// Text //
.footer-banner {
  margin-bottom: 40px;
  @media screen and (max-width: 1199px) {
    width: 234px;
    margin-bottom: 40px;
  }
  &__paragraph {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-transform: uppercase;
    margin-bottom: 16px;
    color: var(--primery-text-color);
    @media screen and (min-width: 1200px) {
      font-style: normal;
      text-transform: uppercase;
      color: var(--primery-text-color);
      font-size: 30px;
      line-height: 1.2;
      font-weight: 400;
      letter-spacing: 0.4em;
      margin-bottom: 14px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
      font-size: 26px;
      line-height: 1.22;
      letter-spacing: 0.4em;
      font-style: normal;
      margin-bottom: 9px;
      width: 352px;
      height: 57px;
      font-weight: 700;
      text-transform: uppercase;

    }
}
}
.footer-banner__header {
  font-family: 'Montserrat', sans-serif;
  font-size: 34px;
  line-height: 1.2;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.4em;
  color: var(--primery-text-color);
  text-transform: uppercase;
  @media screen and (min-width: 1200px) {
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 1.22;
    letter-spacing: 0.06em;
    text-transform: uppercase;
     }
     @media screen and (min-width: 768px) and (max-width: 1199.98px) {
      font-size: 48px;
      line-height: 1.22;
      letter-spacing: 0.06em;
      width: 340px;
      font-style: normal;
      font-weight: 700;
     }
}
// Socials //
.socials {
  display: flex;
  margin-bottom: 38px;
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
 }
 &__item:not(:last-child) {
  margin-right: 28px;
 }
}
.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  background-color: var(--primery-accent-color);
  color: #84A178;
  border-radius: 50%;
  transition: color var(--main-animation);
  
  &:hover {
    color: var(--primery-text-color);
  }
  &:focus {
    color: var(--primery-text-color);
    width: 35px;
  }
}
.socials__icon {
  fill: currentColor;
}
// Contacts //
.footer-contacts {
  display: flex;
  margin-bottom: 40px;
}
.footer-contacts__address {
  display: flex;
  margin-left: auto;
}
.footer-contacts__data:not(:last-child) {
  margin-right: 4px;
}
.footer-contacts__text {
  font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    color: var(--primery-title-color);
    @media screen and (max-width: 1199.98px) {
      font-size: 14px;
    }
    @media screen and (max-width: 767.98px) {
      font-size: 12px;
    }
}
.footer-contacts__tel {
  font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    color: var(--primery-text-color);
    @media screen and (max-width: 1199.98px) {
      font-size: 14px;
    }
    @media screen and (max-width: 767.98px) {
      font-size: 12px;
    }
}
// Copyright //
.copyright {
  text-align: center;
  border-top: 1px solid #e1e1e1;
  width: 100%;
  justify-content: center;
  padding: 16px 20px;
  
  &__text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    /* or 21px */
    text-align: center;
    color: #7A7A7A;
}
}
