.header {
  background-color: #84a178;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
}

.header__logo {
  margin-right: 292px;
}

.header__list {
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: 27px;
}

.header__link {
  padding-top: 14px;
  padding-bottom: 14px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  display: flex;
  align-items: center;
  color: #fcfcfc;
  &:hover,
  &:focus {
    color: #f8d24e;
  }
}

.header__btn {
  margin-left: auto;
  padding: 0;
  width: 152px;
  height: 42px;
  background-color: #f8d24e;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #131313;

  &:hover {
    background-color: #0a8817;
  }

  &:focus {
    background-color: #0a8817;
    color: #fcfcfc;
  }
}
