.hero {
  padding-bottom: 239px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 13px;
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 65px;
  }
}

.hero-container {
  display: flex;
  justify-content: center;
}

.hero-container::before {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: contain;

  // Mobile
  @media screen and (max-width: 767px) {
    height: 50px;
    width: 328px;
    transform: translate(-5px, 418px);
    background-image: url('../images/hero/points.mobile_@1x.png');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/hero/points.mobile_@2x.png');
    }
  }

  // tablet
  @media screen and (min-width: $tablet) {
    max-width: 767px;
    max-height: 67px;
    transform: translate(-25px, 285px);
    background-image: url('../images/hero/points.tablet_@1x.png');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/hero/points.tablet_@2x.png');
    }
  }

  // Desktop
  @media screen and (min-width: $desktop) {
    max-width: $desktop;
    max-height: 384px;
    transform: translate(-16px, 205px);
    background-image: url('../images/hero/points.desc_@1x.png');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/hero/points.desc_@2x.png');
    }
  }
}

.hero__wrap {
  @media screen and (max-width: 767px) {
    margin-top: 61px;
  }

  @media screen and (min-width: $tablet) {
    margin-top: 40px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 45px;
  }
}

.hero-title {
  width: 280px;
  font-family: var(--primery-title-font);
  font-weight: 400;
  font-size: 26px;
  line-height: decimal-round(calc(33 / 26));
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--primery-text-color);

  &__box {
    font-size: 34px;
  }

  @media screen and (min-width: $tablet) {
    width: 200px;
    font-size: 18px;
    line-height: decimal-round(calc(23 / 18));

    &__box {
      font-size: 24px;
      line-height: decimal-round(calc(13 / 24));
    }
  }

  @media screen and (min-width: $desktop) {
    width: 400px;
    font-size: 38px;
    line-height: decimal-round(calc(48 / 38));

    &__box {
      font-size: 38px;
      line-height: decimal-round(calc(48 / 38));
    }
  }
}

.wrap-hero-btn {
  margin-top: 32px;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  align-items: center;

  @media screen and (min-width: $tablet) {
    margin-top: 20px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 28px;
  }
}

.hero-prod-btn {
  width: 62px;
  height: 24px;

  margin-right: 8px;
  font-weight: 600;
  font-size: 8px;
  line-height: decimal-round(calc(10 / 8));

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: decimal-round(calc(18 / 14));
    width: 134px;
    height: 42px;
    margin-right: 12px;
  }
}

.made-btn {
  border: none;
  background-color: transparent;

  width: 83px;
  height: 24px;

  font-weight: 600;
  font-size: 8px;
  line-height: decimal-round(calc(10 / 8));
  text-align: center;
  text-decoration-line: underline;

  color: var(--primery-accent-color);
  @media screen and (min-width: $desktop) {
    margin-right: 12px;
    width: 154px;
    height: 40px;
    font-size: 14px;
    line-height: decimal-round(calc(17 / 14));
  }
}

.hero-pic-box {
  @media screen and (max-width: 767px) {
    display: none;
  }

  display: inline-block;
  width: 152px;
  height: 152px;

  @media screen and (min-width: 767px) {
    margin-top: 28px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 42px;
    height: 225px;
    width: 225px;
  }

  &::before {
    content: '';
    display: block;
    width: 152px;
    height: 152px;

    background-repeat: no-repeat;
    background-size: contain;

    // Tablet
    @media screen and (min-width: $tablet) {
      background-image: url('../images/hero/plate-tablet_@1x.png');
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/hero/plate-tablet_@2x.png');
      }
    }
    // Desctop
    @media screen and (min-width: $desktop) {
      width: 225px;
      height: 225px;
      background-image: url('../images/hero/plate-desc_@1x.png');
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/hero/plate-desc_@1x.png');
      }
    }
  }
}

.hero-desc {
  margin-top: 214px;

  @media screen and (min-width: $desktop) {
    margin-top: 368px;
    transform: translateX(-155);
  }
}

.hero-desc__text {
  width: 151px;
  height: 85px;

  margin-bottom: 14px;
  font-size: 12px;
  line-height: decimal-round(calc(17 / 12));

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: $desktop) {
    width: 200px;
    height: 80px;
    font-size: 14px;
    line-height: decimal-round(calc(20 / 14));
    margin-bottom: 25px;
  }
}

.hero-btn-arrow {
  fill: var(--primery-text-color);
  @media screen and (max-width: 767px) {
    display: none;
  }
  padding: 0;

  max-height: 30px;
  border: none;
  background-color: transparent;

  & .arrow {
    &--hover,
    &--focus {
      opacity: 0;
      transition: opacity var(--main-animation);
    }
  }

  &:hover,
  &:focus {
    .arrow--default,
    .arrow--focus {
      opacity: 0;
      transition: opacity var(--main-animation);
    }
  }

  &:hover {
    .arrow--hover {
      opacity: 1;
    }
    .arrow--focus {
      opacity: 0;
      transition: opacity var(--main-animation);
    }
  }

  &:focus {
    .arrow--focus {
      opacity: 1;
    }
    .arrow--hover {
      opacity: 0;
      transition: opacity var(--main-animation);
    }
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 30px;
  }
}

.hero-thumb {
  text-align: right;
  margin-left: auto;
  margin-top: 28px;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 53px;
  }
}

.hero-thumb__numb {
  font-weight: 900;
  font-size: 28px;
  line-height: decimal-round(calc(34 / 28));
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--primery-title-color);

  @media screen and (min-width: $desktop) {
    font-size: 46px;
    line-height: decimal-round(calc(56 / 46));
  }
}

.hero-thumb__numb:nth-child(3) {
  margin-top: 20px;

  @media screen and (min-width: $desktop) {
    margin-top: 16px;
  }
}

.hero-thumb__text {
  font-size: 8px;
  line-height: decimal-round(calc(10 / 8));
  margin-top: 4px;

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: decimal-round(calc(17 / 14));
  }
}

.hero__wrap::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  filter: drop-shadow(0px 0px 40px white);
  // Mobile
  @media screen and (max-width: 767px) {
    width: 170px;
    height: 219px;
    z-index: 0;
    transform: translate(50, 20px);
    background-image: url('../images/hero/rojok-mob_@1x.png');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/hero/rojok-mob_@2x.png');
    }
  }
  // tablet
  @media screen and (min-width: $tablet) {
    max-width: 270px;
    max-height: 343px;
    transform: translate(190px, -143px);
    background-image: url('../images/hero/rojok-tab_@1x.png');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/hero/rojok-tab_@2x.png');
    }
  }

  // desctop
  @media screen and (min-width: $desktop) {
    max-width: 456px;
    max-height: 561px;
    transform: translate(400px, -225px);
    background-image: url('../images/hero/rojok-des_@1x.png');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/hero/rojok-des_@2x.png');
    }
  }
}
